@charset "utf-8";

:root{
    --color-primary: #0e0e0e;
    --color-secondary: #f9c449;
    --color-white: #fff;
    --color-black: #000;
    --color-grey0: #fafafa;
    --color-grey1: #dbe1e8;
    --color-grey2: #eeb462;
    --color-grey3: #6c7983;
    --color-grey4: #454e56;
    --color-grey5: #343434;
    --color-grey6: #12182b;
    --br-sm-2: 14px;
    --box-shadow1: 0 3px 15px rgba(0,0,0,.2);
}
.light{
    --color-primary: #ebebeb;
    --color-secondary: #eeb462;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey1: #6c7983;
    --color-grey2: #6c7983;
    --color-grey3: #6c7983;
    --color-grey4: #454e56;
    --color-grey5: #f8f8f8;
    --color-grey6: #12181b;
    --br-sm-2: 14px;
    --box-shadow1: 0 3px 15px rgba(0,0,0,.2);
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--color-primary);
    margin: 0px;
    padding: 4% 10% 0 10%;
}

/* NAVIDATION BAR */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Uname{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var( --color-grey1);
}
.logo{
    width: 30px;
    height: 30px;
    background: var(--color-secondary);
    border-radius: 50%;
}


/* ILLUSTRATIONS */
.grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}
.item{
    background-size: cover;
    overflow: hidden;
    background: var(--color-primary);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 10px;
    border: 1px solid var(--color-grey5);
    text-align: center;
    transition: all .3s ease-in-out;
}
.item img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}
.item h1{
    color: var(--color-secondary);
}
.item p{
    color: var(--color-grey1);
}
/* Illustrations Actions */
.item:hover{
    transform: translateY(-5px);
}
.item:active{
    transform: scale(1.2);
    background-size: contain;
    overflow: visible;
}
.item img:hover{
    object-fit: contain;
}



/* FOOTER */
.footer{
    margin-top: 40px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.footer .contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.2em;
    background: var(--color-grey2);
    border-radius: 50%;
    transition: all .3s ease-in-out;
    margin-left: 20px;
}
.footer p{
    color: var(--color-grey1);
    font-size: 1em;
    margin-left: 20px;
}

/* ACIONS */
.footer .contacts:hover{
    background: var(--color-primary);
    color: var(--color-grey2);
    box-shadow: 0 0 10px rgba(169, 196, 98, 0.3);
}


/* MEDIA 600 SCREEN*/
@media screen and (max-width: 600px) {
    nav{
        flex-wrap: wrap;
    }
    .Uname{
        font-size: 2em !important;
    } 

    /* ILLUSTRATIONS */
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/* MEDIA 400 SCREEN */
@media screen and (max-width: 400px) {
    nav{
        flex-wrap: wrap;
    }
    .Uname{
        font-size: 3em !important;
    } 

    /* ILLUSTRATIONS */
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
    }
}